.activityBar {
    width: 50px;
    height: 100%;
    background-color: var(--vscode-activity-bar-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topIcons,
.bottomIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconContainer {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.4;
    border-left: 2px solid transparent;
}

.iconContainer:hover {
    opacity: 1;
}

.active {
    opacity: 1;
    border-left: 2px solid var(--vscode-text);
}

.icon {
    width: 24px;
    height: 24px;
    filter: invert(0.8);
    /* Make icons light grey */
}