.activityBar {
    width: 50px;
    height: 100%;
    background-color: var(--vscode-activity-bar-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.topIcons,
.bottomIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconContainer {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.4;
    border-left: 2px solid transparent;
}

.iconContainer:hover {
    opacity: 1;
}

.active {
    opacity: 1;
    border-left: 2px solid var(--vscode-text);
}

.icon {
    width: 24px;
    height: 24px;
    filter: invert(0.8);
    /* Make icons light grey */
}

@media (max-width: 480px) {
    .activityBar {
        width: 40px;
    }

    .iconContainer {
        width: 40px;
        height: 40px;
    }

    .icon {
        width: 20px;
        height: 20px;
    }
}