.editorContainer {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: Consolas, 'Courier New', monospace;
    font-size: var(--editor-font-size, 14px);
    line-height: 1.5;
}

.lineNumbers {
    width: 50px;
    text-align: right;
    padding-right: 15px;
    color: #858585;
    user-select: none;
    border-right: 1px solid var(--vscode-tab-inactive-bg);
}

.lineNumber {
    height: calc(var(--editor-font-size, 14px) * 1.5);
    /* Dynamic height to match line-height */
}

.content {
    flex: 1;
    padding-left: 15px;
    color: var(--vscode-text);
    overflow-y: auto;
}

.splitLayout {
    display: flex;
    width: 100%;
    height: 100%;
}

.paneLeft {
    width: 50%;
    height: 100%;
    border-right: 1px solid var(--vscode-border);
    overflow: hidden;
}

.paneRight {
    width: 50%;
    height: 100%;
    background-color: var(--vscode-editor-bg);
}

@media (max-width: 768px) {
    .splitLayout {
        flex-direction: column;
    }

    .paneLeft,
    .paneRight {
        width: 100%;
        height: 50%;
    }
}