.editorContainer {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.5;
}

.lineNumbers {
    width: 50px;
    text-align: right;
    padding-right: 15px;
    color: #858585;
    user-select: none;
    border-right: 1px solid var(--vscode-tab-inactive-bg);
    /* Subtle separator */
}

.lineNumber {
    height: 21px;
    /* Match line-height of content */
}

.content {
    flex: 1;
    padding-left: 15px;
    color: var(--vscode-text);
}