.footer {
    width: 100%;
    /* height: ; */
    color: whitesmoke;
    background-color: #007acc;
    margin: 0;
    padding: 0;
}

.footer > h1 {
    font-size: 0.8em;
    text-align: center;
    
}