/* header.module.css */
.headerContainer {
    background-color: #1f2428;
    border: 1px solid black;
    width: max-content;
    color: rgb(255, 255, 255);
}

.headerBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: white;
}

.headerBar li {
    width: 100%;

    margin: 0 15px;
}

.headerBar li:hover {
    opacity: 0.8;
    cursor: pointer;
}

.title {
    font-weight: bold;
    font-size: 1em;
}

.vsCode,
.threeColour {
    height: 1em;
}

.vsCode {
    max-width: 1.5em;
}

.threeColour {
    max-width: 2.5em;
}
