/* header.module.css */
.headerContainer {
    width: 100%;
    margin: 0;
    background-color: #1f2428;
    color: rgb(255, 255, 255);
}

.headerContainer > ul {
    width: 100%;

}

.headerBar {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: white;
}

.headerBar li {
padding: 0.5em;

}

.headerBar li:hover {
    opacity: 0.8;
    cursor: pointer;
}

.title {
    margin: 0.2em 0;
    font-weight: bold;
    font-size: 0.8em;
}

/* .vsCode,
.threeColour {
    height: 1.5em;
} */

.vsCode {
    width: 1.2em;
}

.threeColour {
    width: 1.5em;
}
