.navbar {
    display: flex;
    background-color: #1f2428;
    height: 100%;
    margin: 0;
    padding: 0;
}

.link {
    color: white;
    width: 8em;
    text-decoration: none;
    border-color: #24292e ;
    border-left: solid  1px #24292e;
    border-right: solid  1px #24292e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 1em;
    
}

.active {
    border-top: 1px solid #ff9500;
    background-color: #24292e ;
}

@media only screen and (max-width: 600px) { 
    .navbar {
        overflow-x: scroll;
    }
}