.code {
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 20px;
}

.object {
    margin-left: 20px;
}

.property {
    margin-left: 20px;
}

.nestedProperty {
    margin-left: 40px;
}

.key {
    color: #9cdcfe;
}

.string {
    color: #ce9178;
}

.bracket {
    color: #ffd700;
}

.link {
    color: #ce9178;
    text-decoration: underline;
}